
.Pagamento{
    width: 100% ;
    height: 950px ;
    background-image: url(../../imagens/Mulhermaquina.png);
    background-size: cover;
}
.card {
    position: absolute;
    width: 35%;
    height: 300px;
    background-color: #03a64ab8;
    border-radius: 30px;
    margin-top: 320px;
    margin-left: 850px;
}
.Textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h2{
    color: #fff;
    font-size: 40px;
    margin-top: 25px;
}
.card p{
    width: 65%;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.card button{
    width:50%;
    height: 40px;
    background-color: #fff;
    font-size: 30px;
    border-radius: 30px;
    margin-top: 30px;
    color:#03A64A;
}

