.Slogan{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
}
h3{
    width: 40%;
    color: #fff;
    font-size: 80px;
}
.Mulher{
    width: 580px;
    height: 590px;
}