.Video{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.iphone{
    width: 100%;
    height:auto;
    margin-top: 50px;
}
.Textos{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
 h2{
    width: 80%;
    font-size:50px ;
    color: #ffffff;
    text-align: center;
    text-align: right;
}
.Botao2{
    width: 40%;
    height: 50px;
    background-color: #03A64A;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 80px;
    padding: 10px;
}